<% provide :title, 'Collections | Emily Dickinson Archive' %>

<h1>Browse Images by Collection</h1>
<p class="help"><%= t 'collections_help' %></p>
<ol class="sortable_tree expandable"
    data-expand_node_url="<%= expand_node_collections_url %>">
    <% cache cache_key_for_collections(@collections) do %>
        <%= build_server_tree(
            @collections,
            type: :expandable,
            title: :name
        ) %>
    <% end %>
</ol>
