<% provide :title, "About Emily Dickinson Archive" %>

<%= render( {
  partial: 'shared/about_panel_menu'
} ) %>

<nav>
  <ul>
    <li><a href="#">Overview</a></li>
    <li>
      <a href="#contents">Contents</a>
      <ul>
        <li><a href="#images">Images</a></li>
        <li><a href="#editions">Editions</a></li>
      </ul>
    </li>
    <li><a href="#methodology">Methodology</a></li>
  </ul>
</nav>

<p>
Emily Dickinson Archive (EDA) provides high-resolution images of manuscripts of Dickinson&rsquo;s poetry, along with transcriptions and annotations from selected historical and scholarly editions. This first release focuses on gathering images of those poems included in The Poems of Emily Dickinson: Variorum Edition, edited by R. W. Franklin (Cambridge: Belknap Press of the Harvard University Press, 1998). These manuscripts vary from &ldquo;scraps&rdquo; written on envelope flaps and pieces of wrapping paper; to drafts; to finished poems sent to friends or copied into the manuscript books called &ldquo;fascicles.&rdquo;
</p><p>
This site is not a new edition of Dickinson&rsquo;s poems. It is, as its name says, an archive that seeks to make available in one virtual place those resources that seem central to the study of Dickinson&rsquo;s work: images of her manuscripts; a selection of editions of those manuscripts; and selected print and electronic resources that serve as a starting point for the study of Dickinson&rsquo;s manuscripts. It should be viewed as a resource from which scholarship can be produced, rather than a work of scholarship itself.
</p><p>
The long-term goal of this Archive is to provide a single site for access to images of all surviving Dickinson autograph manuscripts. Future priorities include: images of Dickinson letters; additional modern and historical editions of both poems and letters; additional metadata about the manuscripts; and additional tools for manipulation of the content of the site.
</p>

<h2 id="contents">Contents</h2>

<h3 id="images">Images</h3>
<p>
Manuscripts identified as poems, letter-poems, and poems in letters from the following collections:
</p>
<ul>
	<li>American Antiquarian Society</li>
	<li>Archives and Special Collections Library, Vassar College</li>
	<li>Beinecke Rare Book and Manuscript Library, Yale University</li>
	<li>Boston Public Library</li>
	<li>Frost Library, Amherst College</li>
	<li>Houghton Library, Harvard University</li>
	<li>Library of Congress, Manuscript Division</li>
	<li>Mortimer Rare Book Room, Smith College</li>
</ul>
<p>
With poems copied into letters, the page(s) containing the poem are included, but not always the entirety of the letter.
</p>
<h3 id="editions">Editions</h3>
<p>
Transcripts are included from the following published books:
</p>
<ul>
	<li><i>Poems by Emily Dickinson. Edited by Two of Her Friends, Mabel Loomis Todd and T. W. Higginson.</i> [First Series.] Boston: Roberts Brothers, 1890. (Poems 1890 edition)</li>
	<li><i>Poems by Emily Dickinson. Edited by Two of Her Friends, T. W. Higginson and Mabel Loomis Todd.</i> Second Series. Boston: Roberts Brothers, 1891. (Poems 1891 edition)</li>
	<li><i>Poems by Emily Dickinson. Edited by Two of Her Friends, T. W. Higginson and Mabel Loomis Todd.</i> [Third Series.] Boston: Roberts Brothers, 1896. (Poems 1896 edition)</li>
	<li><i>The Single Hound: Poems of a Lifetime, with an Introduction by Her Niece, Martha Dickinson Bianchi.</i> Boston: Little, Brown, 1914. (Single Hound 1914 edition)</li>
	<li><i>The Poems of Emily Dickinson.</i> Edited by Thomas H. Johnson. 3 vols. Cambridge: Belknap Press of Harvard University Press, 1955. (Johnson Poems 1955 edition)</li>
	<li><i>The Poems of Emily Dickinson: Variorum Edition.</i> Edited by R. W. Franklin. Cambridge: Belknap Press of Harvard University Press, 1998. 3 vols. (Franklin Variorum 1998 edition)</li>
</ul>
<p><%= link_to 'Resources', resources_path %> provides links to Dickinson&rsquo;s lifetime appearances in print and the full text of public-domain editions.</p>

<h2 id="methodology">Methodology</h2>

<h3 id="metadata">Metadata</h3>
<p>
Repositories holding Dickinson manuscripts provide varied, sometimes minimal,  information about the pages and their contents. EDA combines this existing metadata with information derived from the <a href="#editions">editions</a> listed above into a single database. 
</p><p>
The core metadata has been divided into full text; first line; attributed date; number (call number, Johnson, Franklin); and recipient. The database is designed to incorporate more detailed, indexed metadata in the future. This approach provides consistent metadata across EDA to make all images discoverable and to avoid privileging those with more metadata in searches.
</p><p>
Some information may differ or be absent, depending on the source. For example: Dickinson very rarely dated her poems; the libraries and Johnson/Franklin editions often give approximate dates, while earlier editions do not. For this reason, such metadata is attributed to its original source to provide context.
</p>
<h3 id="encoding">Encoding</h3>
<p>
Transcripts and notes from the editions&mdash;which accompany manuscript images&mdash;have been encoded with TEI XML markup (see the <a href="http://www.tei-c.org/index.xml">Text Encoding Initiative</a>).  EDA has encoded each edition separately, enabling readers to view and compare the history of these editions and create a new edition of their own.
</p>
<h3 id="lexicon">Lexicon</h3>
<p>	
The Emily Dickinson Lexicon (EDL) is a comprehensive dictionary of over 9,000 words and variants found in the collected poems. EDA includes the words and definitions from the larger EDL project, a collaborative endeavor based at Brigham Young University. For more information, visit the <a href="http://edl.byu.edu/">Emily Dickinson Lexicon</a>.
</p>
<h3 id="platform">Platform</h3>
<p>
The EDA web application operates on Linux with Ruby on Rails support. The database is PostgreSQL; the image server is IIPImage with FastCGI support; and the page-turning feature is handled by a JavaScript library called turn.js.
</p>

<%# <p>EDA provides a simple user interface for searching, browsing, viewing, and annotating images of Dickinson&rsquo;s manuscripts. <a href="/about/apis/">EDA APIs</a> provide a way to extend the site&rsquo;s functionality, using the data, metadata, and structure underlying the basic platform.</p> %>

<a href="#">Back to top</a>