<section class="static-pages home">

<h1 class="subtitle">An open-access website for the manuscripts of Emily Dickinson</h1>

<p class="welcome">Welcome to the Emily Dickinson Archive where manuscripts of Dickinson's poetry, along with transcriptions and annotations from scholarly editions, available in open access inspiring new scholarship and discourse on this literary icon.</p>

</section>

