
<section class="view">
  <b class="home-logo">Emily Dickinson Archive</b>

  <h1>An open-access website for the manuscripts of Emily Dickinson</h1>

  <div class="menu-container">
    <%= render( {
      partial: 'shared/main_nav',
      object: params
    } ) %>
  </div>

  <div class="hr"></div>

  <section class="welcome">

    <p>Welcome to the Emily Dickinson Archive where manuscripts of Dickinson's poetry, along with transcriptions and annotations from scholarly editions, available in open access inspiring new scholarship and discourse on this literary icon.</p>
    <p>Welcome to the Emily Dickinson Archive where manuscripts of Dickinson's poetry, along with transcriptions and annotations from scholarly editions, available in open access inspiring new scholarship and discourse on this literary icon.</p>
    <p>Welcome to the Emily Dickinson Archive where manuscripts of Dickinson's poetry, along with transcriptions and annotations from scholarly editions, available in open access inspiring new scholarship and discourse on this literary icon.</p>

  </section>

  <nav class="icon-links">
  <ul>
    <li><%= home_link 'works-browse.jpg', 'Browse Manuscripts', editions_url %></li>
    <li><%= home_link 'words-index.jpg', 'Lexicon', words_url %></li>
  </ul>
  </nav>

</section>

