<div class="pages-show">

  <div id="search-container">
  </div>

  <div id="interactive-image-container">
    <%= render( {
      partial: "shared/interactive_image",
      object: @image
    } ) %>
  </div>

  <div id="work-container">
    <%= render( {
      partial: "shared/work_transcription",
      object: @work
    } ) %>
  </div>

</div>

