<section class="pages-show">

<div id="search-container" style="width: 29%; max-width: 320px; background: red; display: inline-block; vertical-align: top; margin: 0;"><h2>search</h2></div>

<%= render( { partial: "shared/interactive_image" } ) %>

<div id="work-container">
  <%= render( {
    partial: "shared/work_transcription",
    object: @work
  } ) %>
</div>

</section>

