<% provide :title, "About Emily Dickinson Archive" %>

<%= render( {
  partial: 'shared/about_panel_menu'
} ) %>

<p>Emily Dickinson Archive uses Google Analytics to gather statistics for the EDA website. The information gathered will help us improve EDA’s web services. Google Analytics requires a browser cookie for statistical analysis of your browsing behavior on this website. If you choose, you can opt out by turning off cookies in the preferences settings of your browser, or you can download and install Google Analytics Opt-out Browser Add-on at <a href="http://tools.google.com/dlpage/gaoptout">http://tools.google.com/dlpage/gaoptout</a>. For more information on Google Analytics, please visit <a href="https://www.google.com/analytics/">https://www.google.com/analytics</a>.</p>

<p>EDA stores personally identifiable information (your e-mail address) in conjunction with personalization features of the site. Please note that EDA may be obligated to release such information to federal law enforcement agents in response to a search warrant or subpoena issued in accordance with the Foreign Intelligence Surveillance Act, 50 U.S.C. 1861, as amended by the USA PATRIOT Act (Public Law 107-56). That law prohibits staff from informing you that such a request has been received.</p>

<p>All other information requested upon sign-in is optional and is stored separately from your e-mail address. This information is requested in order to help us develop a clearer idea of who is using the site and how future enhancements can be prioritized to meet users’ needs.</p>

