<% provide :title, "About Emily Dickinson Archive" %>

<%= render( {
  partial: 'shared/about_panel_menu'
} ) %>

<h2>Institutions Contributing Manuscript Images and Transcriptions</h2>

<dl>
	<dt>American Antiquarian Society. Worcester, MA</dt>
	<dd class="address"><a href="http://www.americanantiquarian.org/">http://www.americanantiquarian.org/</a></dd>
	<dd class="notes">Images of four manuscript poems are included in EDA. AAS has also contributed images of many lifetime print appearances of Dickinson poems, accessible in the Resources section.</dd>
	<dd class="permissions">Permission requests: <a href="mailto:library@americanantiquarian.org">library@americanantiquarian.org</a></dd>
</dl>
<dl>
  <dt>Amherst College. Amherst, MA</dt>
  <dd class="address"><a href="https://acdc.amherst.edu/browse/collection/collection:ed">https://acdc.amherst.edu/browse/collection/collection:ed</a></dd>
  <dd class="notes">Images of all 850 Dickinson manuscripts held by Amherst College are available via Amherst College Digital Collections, including material not yet incorporated into EDA.</dd>
	<dd class="permissions">Permission requests: <a href="mailto:archives@amherst.edu">archives@amherst.edu</a></dd>
</dl>
<dl>
	<dt>Beinecke Rare Book and Manuscript Library, Yale Collection of American Literature, Yale University. New Haven, CT</dt>
	<dd class="address"><a href="http://beinecke.library.yale.edu/">http://beinecke.library.yale.edu/</a></dd>
	<dd class="notes">Images of eight manuscript poems, and three contemporary transcriptions, are included in EDA.</dd>
	<dd class="permissions">Permissions information: <a href="http://beinecke.library.yale.edu/research/permissions-copyright">http://beinecke.library.yale.edu/research/permissions-copyright</a></dd>
</dl>
<dl>
	<dt>Boston Public Library, Rare Books and Manuscripts Collection. Boston, MA</dt>
	<dd class="subtitle"><a href="http://www.bpl.org/research/rb/index.htm">Rare Books and Manuscripts Collection</a>. Emily Dickinson Papers guide</dd>
	<dd class="address"><a href="http://archon.bpl.org/?p=collections/controlcard&amp;id=42">http://archon.bpl.org/?p=collections/controlcard&id=42</a></dd>
  <dd class="notes">The Emily Dickinson Papers includes correspondence and poems that Dickinson wrote to Theodore Wentworth Higginson, her mentor. It contains 70 letters and 43 autograph poems, and illustrates the warm friendship that developed between them, as well as her responses to his editorial suggestions. This collection is part of the larger Galatea collection devoted to the history of women gathered by Higginson and donated to the library in 1896 by Higginson himself. Not all Dickinson material is incorporated into EDA.</dd>
	<dd class="permissions">Permission requests: <a href="mailto:rare_books@bpl.org">rare_books@bpl.org</a></dd>
</dl>
<dl>
  <dt>Dumbarton Oaks Research Library and Collections, Rare Book Collection. Washington, D.C.</dt>
  <dd class="address"><a href="https://www.doaks.org/research/library-archives">https://www.doaks.org/research/library-archives</a></dd>
  <dd class="notes">Images of one manuscript poem are included in EDA.</dd>
  <dd class="permissions">Permissions: <a href="https://www.doaks.org/about/photographic-services">https://www.doaks.org/about/photographic-services</a></dd>
</dl>
<dl>
	<dt>Harvard University Press</dt>
	<dd class="address"><a href="http://www.hup.harvard.edu/features/dickinson/">http://www.hup.harvard.edu/features/dickinson/</a></dd>
	<dd class="notes">Transcriptions from Thomas H. Johnson, ed. <i>The Poems of Emily Dickinson</i> (1955) and R. W. Franklin, ed., <i>The Poems of Emily Dickinson: Variorum Edition</i> (1998) are included in EDA.</dd>
	<dd class="permissions">Permission requests: <a href="http://www.hup.harvard.edu/rights/">http://www.hup.harvard.edu/rights/</a></dd>
</dl>
<dl>
	<dt>Houghton Library, Harvard University. Cambridge, MA</dt>
	<dd class="subtitle">Emily Dickinson Collection Guide</dd>
	<dd class="address"><a href="https://library.harvard.edu/collections/emily-dickinson-collection">https://library.harvard.edu/collections/emily-dickinson-collection</a></dd>
	<dd class="notes">The 1,023 Dickinson autograph poems in the Houghton collection are included in EDA, and additionally are accessible through the Library&rsquo;s finding aids. The Houghton Dickinson Guide includes links to material not yet incorporated into EDA, such as the Dickinson family library; Emily Dickinson&rsquo;s herbaria; objects owned by the Dickinson family; and related collections.</dd>
	<dd class="permissions">Permission requests: <a href="mailto:Houghton_Library@harvard.edu">Houghton_Library@harvard.edu</a></dd>
</dl>
<dl>
  <dt>Jones Library Special Collections. Amherst, MA</dt>
  <dd class="address"><a href="https://www.joneslibrary.org/211/Special-Collections">https://www.joneslibrary.org/211/Special-Collections</a></dd>
  <dd class="notes">Images of three manuscript poems, a photostat, and a transcript are included in EDA.</dd>
  <dd class="permissions">Permissions: <a href="https://www.joneslibrary.org/685/Policies">https://www.joneslibrary.org/685/Policies</a></dd>
</dl>
<dl>
	<dt>Library of Congress, Manuscript Division. Washington, D.C.</dt>
	<dd class="address"><a href="http://www.loc.gov/rr/mss/">http://www.loc.gov/rr/mss/</a></dd>
	<dd class="notes">Images of five manuscript poems are included in EDA.</dd>
	<dd class="permissions">Permission requests: <a href="http://www.loc.gov/duplicationservices/collections-guide/#loctoggler=3">http://www.loc.gov/duplicationservices/collections-guide/#loctoggler=3</a></dd>
</dl>
<dl>
  <dt>The Morgan Library &amp; Museum. New York, NY</dt>
  <dd class="address"><a href="https://www.themorgan.org/">https://www.themorgan.org/</a></dd>
  <dd class="notes">Images of four manuscript poems are included in EDA.</dd>
  <dd class="permissions">Permissions: <a href="https://www.themorgan.org/research/imaging-and-rights">https://www.themorgan.org/research/imaging-and-rights</a></dd>
</dl>
<dl>
	<dt>New York Public Library, Berg Collection, and Archives and Manuscripts. New York, NY</dt>
	<dd class="address"><a href="http://www.nypl.org/">http://www.nypl.org/</a></dd>
	<dd class="notes">Images of two manuscript poems in the Berg Collection, and one contemporary transcript in Manuscripts and Archives are included in EDA.</dd>
	<dd class="permissions">Permission requests: <a href="http://www.nypl.org/ask-nypl/research-questions-reproductions">http://www.nypl.org/ask-nypl/research-questions-reproductions</a></dd>
</dl>
<dl>
  <dt>The Rosenbach of the Free Library of Philadelphia. Philadelphia, PA</dt>
  <dd class="address"><a href="https://rosenbach.org/">https://rosenbach.org/</a></dd>
  <dd class="notes">Images of three manuscript poems are included in EDA.</dd>
  <dd class="permissions">Permissions: <a href="https://rosenbach.org/research/images-permissions/">https://rosenbach.org/research/images-permissions/</a></dd>
</dl>
<dl>
	<dt>Smith College, Mortimer Rare Book Room. Northampton, MA</dt>
	<dd class="address"><a href="http://www.smith.edu/libraries/libs/rarebook/">http://www.smith.edu/libraries/libs/rarebook/</a></dd>
	<dd class="notes">Images of one manuscript poem are included in EDA.</dd>
	<dd class="permissions">Permission requests: <a href="mailto:mrbr@smith.edu">mrbr@smith.edu</a></dd>
</dl>
<dl>
	<dt>Vassar College, Archives and Special Collections Library. Poughkeepsie, NY</dt>
	<dd class="address"><a href="http://specialcollections.vassar.edu/">http://specialcollections.vassar.edu/</a></dd>
	<dd class="notes">Images of one manuscript poem are included in EDA.</dd>
	<dd class="permissions">Permission requests: <a href="mailto:spcoll@vassar.edu">spcoll@vassar.edu</a></dd>
</dl>
<dl>
	<dt>Yale University Library, Manuscripts and Archives. New Haven, CT</dt>
	<dd class="address"><a href="http://www.library.yale.edu/mssa/">http://www.library.yale.edu/mssa/</a></dd>
	<dd class="notes">Images of four manuscript poems, and 25 contemporary transcripts were not obtained in time for launch, but will be added shortly.</dd>
	<dd class="permissions">Permission requests: <a href="mailto:mssa.assist@yale.edu">mssa.assist@yale.edu</a></dd>
</dl>
<h2>Other Content Contributors</h2>
<dl>
	<dt>Brigham Young University, Emily Dickinson Lexicon</dt>
	<dd class="address"><a href="http://edl.byu.edu/">http://edl.byu.edu/</a></dd>
</dl>

<h2>Advisory Board</h2>
<ul>
	<li>Leslie A. Morris, Houghton Library, Harvard University, General Editor</li>
	<li>Sharon Cameron, Johns Hopkins University</li>
	<li>Julia Flanders, Northeastern University</li>
	<li>Michael Kelly, Amherst College Library</li>
	<li>Mary Loeffelholz, Northeastern University</li>
	<li>Cristanne Miller, University at Buffalo, SUNY</li>
	<li>Domhnall Mitchell, Norwegian University of Science and Technology</li>
	<li>Martha Nell Smith, University of Maryland</li>
	<li>Marta Werner, D&rsquo;Youville College</li>
</ul>
<h2>Funders</h2>
<p>
Initial funding and project support has been provided by The Sidney Verba Fund, Harvard Library; the Emily Dickinson Fund, Houghton Library; and Harvard University Press.
</p>
<h2>Technology Partners</h2>
<h3>Berkman Center for Internet &amp; Society</h3>
<ul>
	<li>Sebastian Diaz, Chief Technology Officer</li>
	<li>Jennifer Jubinville, Project Manager</li>
	<li>Ryan Westphal, Senior Web Application Developer</li>
	<li>Justin Clark, Junior Web Application Developer</li>
</ul>
<h3>Harvard Library</h3>
<ul>
	<li>Tracey Robinson, Managing Director, Library Technology Services</li>
	<li>Franziska Frey, Malloy-Rabinowitz Preservation Librarian; Head of Preservation and Digital Imaging Services</li>
	<li>Randy Stern, Director, System Development</li>
	<li>Jim Borron, Program Manager for Harvard Library</li>
	<li>Wendy Gogel, Manager of Digital Content and Projects</li>
</ul>
<h3>Harvard University Press</h3>
<ul>
	<li>Emily Arkin, Senior Editor for Digital Publication Development</li>
	<li>Susan Wallace Boehmer, Editor-in-Chief</li>
	<li>Bryan Cholfin, Assistant Digital Production Editor</li>
	<li>Adriana Cloud, Production Project Manager</li>
	<li>Aili Contini-Field, Web Production Associate</li>
	<li>Graciela Galup, Senior Designer</li>
	<li>Gregory Kornbluh, Web Content Manager</li>
	<li>Phoebe Kosman, Publicity Manager</li>
	<li>Stephanie Vyce, Director of Intellectual Property and Subsidiary Rights</li>
</ul>
<h3>Encoding and Metadata Support</h3>
<p>
Emily Anderson, Patricia Caroline Chaudron, Andrew Dorkin, Alison Fraser, Sushmita Sircar, Lamb Zeng at State University of New York, Buffalo; Aaron Dinin at University of Maryland College Park; Heather Cole, Anna Patel, and Henry Shull at Houghton Library.
</p>
