<% provide :title, "About Emily Dickinson Archive" %>

<section class="view">

  <%= render( {
    partial: 'shared/about_panel_menu'
  } ) %>

  <h2>Advisory Board</h2>

  <ul class="reference-list">
    <li>Leslie A. Morris, Houghton Library, General Editor</li>
    <li>Sharon Cameron, Johns Hopkins University</li>
    <li>Julia Flanders, Brown University</li>
    <li>Michael Kelly, Amherst College Library</li>
    <li>Mary Loeffelholz, Northeastern University</li>
    <li>Cristanne Miller, University at Buffalo, SUNY</li>
    <li>Domhnall Mitchell, Norwegian University of Science and Technology</li>
    <li>Martha Nell Smith, University of Maryland</li>
    <li>Marta Werner, D'Youville College</li>
  </ul>

  <h2>Contributions</h2>

  <p>The Emily Dickinson Archive seeks partnerships with and contributions from many organizations, scholars, and collections. Early collaborators include:</p>

  <ul class="reference-list">
    <li><a target="_blank" href="http://www.amherst.edu/library/archives/holdings/edickinson">Amherst College Library</a></li>
    <li><a target="_blank" href="http://archon.bpl.org/?p=collections/controlcard&id=42">Boston Public Library</a></li>
    <li><a target="_blank" href="http://edl.byu.edu/">Brigham Young University: Emily Dickinson Lexicon</a></li>
    <li><a target="_blank" href="http://www.hup.harvard.edu/features/dickinson/">Harvard University Press</a></li>
    <li><a target="_blank" href="http://hcl.harvard.edu/libraries/houghton/collections/modern/dickinson.cfm">Houghton Library, Harvard University</a></li>
    <li><a target="_blank" href="http://dp.la/">The Digital Public Library of America</a></li>
  </ul>

  <h2>Development</h2>

  <p>The platform for Emily Dickinson Archive is developed by the <a target="_blank" href="http://cyber.law.harvard.edu/">Berkman Center for Internet and Society</a> in collaboration with the <a target="_blank" href="http://lib.harvard.edu/">Harvard Library</a>. Initial funding and project support has been provided by The Sidney Verba Fund, Harvard Library; the Emily Dickinson Fund, Houghton Library; and Harvard University Press.</p>


</section>

