<% provide :title, "About Emily Dickinson Archive" %>

<%= render( {
  partial: 'shared/about_panel_menu'
} ) %>

<p>Images of manuscripts, attribution information, and transcriptions displayed within this site (the “ED Material”) are governed by a Creative Commons Attribution-Non-Commercial-NoDerivs 3.0 Unported License (CC BY-NC-ND 3.0) (available at <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/legalcode">http://creativecommons.org/licenses/by-nc-nd/3.0/legalcode</a>).</p>

<p>You do not need permission to use ED Material for personal research, in-class teaching purposes, school projects and assignments, blog posts, or other non-commercial uses. ED Material incorporated in EDA must be used with accompanying credit line to the owning institution, and may not be copied or provided to others without this information. For images of manuscripts, this information is located in the credit line accompanying the image. You do not need permission to link to EDA or to individual items within EDA. We prefer that you link to the home page at <a href="http://edickinson.org">http://edickinson.org</a>, and that links to individual items within the EDA be accompanied by a link to the homepage.</p>

<p>Commercial use: For images of manuscripts, please contact the institution listed as holding the original manuscript. Contact information can be found under <%= link_to 'Partners & Credits', team_path %>. For reuse of edited texts, as presented in the Johnson or Franklin volumes, please contact Harvard University Press at <a href="http://www.hup.harvard.edu/rights/">http://www.hup.harvard.edu/rights/</a>.</p>

<p>Harvard and the other contributors of ED Material make the EDA site and its content available free of charge and disclaim all warranties of any kind (express, implied, or otherwise) regarding the site and its content. Harvard and the other contributors make no warranties as to the accuracy, completeness, currency or usefulness of any content on the EDA site, and do not warrant that your use of the content will not infringe or violate the rights of others. Your use of the EDA site and its content is at your own sole risk. In no event shall Harvard or any such contributor be liable to you – in contract, tort (including negligence) or otherwise – for any consequential, special, general, incidental, direct, indirect or other damages or losses of any kind arising out of your use of the site or any of its content. As used in this paragraph, the term “Harvard” includes the corporate entity President and Fellows of Harvard College and its affiliates, governing board members, officers, employees, and agents.</p>
