<h2><%= t :my_notes %></h2>
<% if @notes.empty? %>
    <p><%= t :no_notes %></p>
<% else %>
<ul>
<% @notes.each do |note| %>
    <li>
    On: <%= link_to(note.notable.name, edition_image_set_path(Edition.find_by_image_set_id(note.notable.root.id), note.notable)) %>
    <p><%= note.note %></p>
    </li>
<% end %>
</ul>
<% end %>
