<% provide :title, @image_group.name %>

<section class="view">
  <h2><%= @image_group.name %></h2>

  <div class="sbs-pages">
    <% @image_group.image_group_images.each { |igi| %>
        <div>
        <% if page = @edition.pages.find_by_image_group_image_id(igi.id) %>
            <%= link_to (image_tag( preview_url(igi.image) )), edition_page_path(@edition, page) %>
        <% else %>
            <%= image_tag( preview_url(igi.image) ) %>
        <% end %>
        </div>
    <% } %>
  </div>
</section>

<%= javascript_include_tag 'turn.min' %>
