<section class="browse-works">
  <div class="alphabet-list">
  <% ('A'..'Z').to_a.each do |first_letter| %>
      <%= link_to first_letter, by_letter_works_path(first_letter) %>
  <% end %>
  </div>
  <div class="alphabet-results browse-works-results">
    <p class="help"><%= t 'works_browse_help' %></p>
  </div>
</section>
