<table class="works">
    <thead>
        <tr>
            <th>Number</th><th>Variant</th><th>Title</th><th>Date</th>
        </tr>
    </thead>
    <tbody>
<% @works.each do |work| %>
    
    <tr>
        <td><%= work.number %></td>
        <td><%= strip_tags work.variant %></td>
        <td><%= work_link(work, @edition) %></td>
        <td><%= work.date.strftime('%Y') %></td>
    </tr>
    <%# render :partial => 'works/list_item', :locals => {work: work, edition: @edition || work.edition} %>
<% end %>
    </tbody>
</ul>

