<h2><%= raw "#{@work.number}#{@work.variant} - #{@work.title}" %></h2>

<% @work.stanzas.order('position').each do |stanza| %>
    <p class="stanza" data-number="<%= stanza.position %>">
    <% stanza.lines.order('number').each do |line| %>
        <span class="line" data-line="<%= line.number %>">
            <%= raw render_line(line) %>
            <% unless line.just_author_break? %>
                <br />
            <% end %>
        </span>
    <% end %>
    </p>
<% end %>
