<h2><%= @work.title ? raw("#{@work.number}#{@work.variant} - #{@work.title}") : @work.lines.first.text %></h2>

<%= render( {
  partial: "shared/work_transcription",
  object: @work
} ) %>

<%= render :partial => 'shared/metadata', :object => @work %>
