<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" ?>
<TEI xmlns="http://www.tei-c.org/ns/1.0">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title><%= @work.title %></title>
            </titleStmt>
            <publicationStmt>
                <p><%= @work.edition.name %></p>
            </publicationStmt>
            <sourceDesc>
                <p>Emily Dickinson Archive</p>
            </sourceDesc>
        </fileDesc>
    </teiHeader>
    <text>
        <body>
            <div type="transcript" id="<%= @work.full_id %>">
<%= render partial: "works/transcriptions/show", locals: { work: @work } %>
            </div>     
        </body>
    </text>
</TEI>
