<div id="image-set-info">
  <% if image.url %>
      <%= link_to t(:download_image), download_image_path(image) %>
  <% end %>
  <% unless image.metadata.nil? %>
  <dl class="credits">
      <dt class="image-credits">Credits</dt><dd><%= image.credits %></dd>
      <%= render partial: 'shared/metadata', locals: { object: image } %>
  </dl>
  <% end %>
</div>
