<div id="image-set-info">
  <% unless image.metadata.nil? %>
  <dl class="credits">
      <dt class="image-credits">Credits</dt><dd><%= raw image.credits %></dd>
  </dl>
  <div class="credits-buttons">
      <a class="show-metadata eda-btn-light" href="javascript:void(0);"><%= t :show_image_metadata %></a>
      <div class="metadata">
          <h2>Image Metadata</h2>
          <dl><%= render partial: 'shared/metadata', locals: { object: image } %></dl>
      </div>
      <% if image.url %>
          <%= link_to t(:download_image), download_image_path(image), class: 'eda-btn-light' %>
      <% end %>
  </div>
  <% end %>
</div>
