<section class="interactive-image <%= 'missing-image' if image_set.image.url.nil? %>">
  <% if image_set.image.url.nil? %>
    <%= image_tag asset_path("missing_image.jpg") %>
  <% else %>
      <div id="page-image"></div>
      <%= javascript_include_tag "openseadragon" %>
      <script>
            OpenSeadragon({
                id:            "page-image",
                prefixUrl: '/assets/',
                tileSources: '<%= "#{Eda::Application.config.emily['image_host']}?DeepZoom=#{Eda::Application.config.emily['image_directory']}/#{image_set.image.url}.tif.dzi" %>'
            });
      </script>
  <% end %>
</section>

