<% if notes.present? %>
  <ul class="notes">
    <% notes.each do |note| %>
      <li class="note">
        <span class="note-text"><%= note.note %></span>
        <%# might want to pass in generic sett path or change variable name to image_set from sett %>
        <%= link_to "x", image_set_note_path( sett, note ), method: :delete, remote: true %>
      </li>
    <% end %>
  </ul>
<% end %>
