<% if notes.present? %>
  <ul class="notes">
    <% notes.each do |note| %>
      <li class="note">
        <span class="note-text"><%= note.note %></span>
        <a href="javascript:void" class="delete-note" title="Delete this Note">x</a>
      </li>
    <% end %>
  </ul>
<% end %>
