<div class="page-controls">
  <% if previous_image %>
      <%=
          link_to('', edition_image_set_url(edition, previous_image), {
              id: 'prev-page', title: 'Previous Page', alt: 'Previous Page', class: 'change-page'
          })
      %> 
  <% end %>

  <% if !@collection.nil? %>
    <%= link_to('', collection_image_set_path(@collection, image_set.parent, image: image_set.image.id), { id: 'sbs-view', title: 'Reading View', alt: 'Reading View' }) unless image_set.image.url.nil? %>
  <% else %>
    <%= link_to('', edition_image_set_url(edition, image_set.parent, image: image_set.image.id), { id: 'sbs-view', title: 'Reading View', alt: 'Reading View' }) unless image_set.image.url.nil? %>
  <% end %>

  <% if next_image %>
      <%=
          link_to('', edition_image_set_url(edition, next_image),
             { id: 'next-page', title: 'Next Page', alt: 'Next Page', class: 'change-page' }
          )
      %>
  <% end %>
</div>
