<div class="interactive-image">
  <!-- we need to be passed an Image object and use the image_url property here -->
  <script src="http://zoom.it/yd93.js?width=auto&height=512px"></script>
  <div class="credits">
    <p>copyright so and so.</p>
    <p>copyright so and so.</p>
    <p>copyright so and so.</p>
  </div>
</div>

