<nav class="main">
  <ul>
    <li><%= link_to( 'Home', root_url, ( params[ :action ] == 'home' ? { class: 'selected' } : nil ) ) %></li>
    <% if params[:action] != 'home' %>
        <li><%= link_to( 'Manuscripts', works_url, ( params[ :controller ] == 'works' && params[ :action ] == 'index' ? { class: 'selected' } : nil ) ) %></li>
        <li><%= link_to( 'Lexicon', words_url, ( params[:controller] == 'words' ? { class: 'selected' } : nil ) ) %></li>
    <% end %>
    <li><%= link_to( 'About', about_url, ( params[ :action ] == 'about' || params[ :action ] == 'faq' || params[ :action ] == 'team' || params[ :action ] == 'terms' || params[ :action ] == 'privacy' || params[ :action ] == 'contact' ? { class: 'selected' } : nil ) ) %></li>
  </ul>
</nav>

