<div id="search-panel" class="tab-menu panel">
    <a class="left drawer-handle" data-drawer="search-panel">
        <span><%= t :search_drawer_label %></span>
    </a>
    <ul class="panel-menu">
        <li><a href="#">Search</a></li>
        <li><a href="#">Browse</a></li>
    </ul>

    <div class="panel-content">
        <section class="search-works">
            <h1>Search Works</h1>
            <%= render partial: 'works/search_form', locals: { remote: true } %>
            <% if @search %>
                <%= render partial: "works/search_results_list" %>
            <% end %>
        </section>
        <%= render partial: "works/browse" %>
    </div>
</div>
