defaults: &DEFAULTS
    default_edition: "Franklin Variorum 1998"
    image_download_max_width: 1200
    small_image_preview_width: 200

development:
    <<: *DEFAULTS
    image_host: "http://iipimage.dev.berkmancenter.org/iipsrv/iipsrv.fcgi"
    image_directory: "/web/sid/eda_data/images"
    web_image_directory: "previews/"
    data_directory: "/home/jclark/projects/emily/eda_data"

test:
    <<: *DEFAULTS
    image_host: "http://interop.lib.harvard.edu:9080/cgi-bin/iipsrv.fcgi"
    image_directory: "/home/iip/dev/images/tiff"
    web_image_directory: "previews_test"

production:
    <<: *DEFAULTS
