<div class="word-filter-wrapper">
    <%= label_tag(:filter, t(:word_filter_label)) %>
    <%= text_field_tag(:word_filter, nil,  class: 'word-filter') %>
</div>
<ul class="word-list">
    <% @words.each do |word| %>
        <li><%= link_to(word.word, word_path(word)) %></li>
    <% end %>
</ul>
<script>
    $(function() {
        $('.word-filter').fastLiveFilter('.word-list');
    });
</script>
