$lightGray: #888;
$lessLightGray: #606060;
$gray: #4b4b4b;
$darkGray: #333;
$lighterThanDarkGray: #3c3c3c;
$lightShadowGray: #303030;
$shadowGray: #252525;
$tan: #e7cf98;
$lightTan: #eeddb5;
$lessDarkTan: #D1BB8B;
$darkTan: #897144;
$noticeGreen: #A1D68C;
$alertRed: #EB7E7E;
$waitYellow: #F3E869;
