@import "colors";

nav.main, nav.user {
  display: inline-block;
  text-align: left;
  font-family: 'Carrois Gothic SC';
  text-shadow: 1px 1px 15px $lightShadowGray;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 1em;
  }
}

nav.main {
  margin-right: 1em;
}

nav.user {
  float: right;
}
