/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require tree
 *= require sortable_tree
 *= require nested_options
 *= require expandable_tree
 *= require jquery.dropdown
 *= require_self
 *= require_tree .
 */

@import "colors";

/* apply a natural box layout model to all elements */
/* http://paulirish.com/2012/box-sizing-border-box-ftw/ */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

@viewport{
    width: device-width;
}
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

/**
 * some site-wide classes
 */

.hr {
  border: solid 1px $gray;
  border-width: 1px 0 0 0;
  height: 0px;
  margin: 0;
  width: 100%;
}

.menu-container {
  display: block;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;
}

.eda-btn-light {
  font-family: 'Source Sans Pro';
  background: $tan;
  border: solid 1px $darkGray;
  color: $darkGray;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F7E8C6), to(#EEDCB3));
  border: 0;
  border-radius: 2px;
  box-shadow: 0 0 2px #8F7341;
  padding: 0.2em 1em;

  &:hover {
    background: $lightTan;
    cursor: pointer;
    a {
        color: $darkGray;
        text-decoration: none;
    }
  }
}

/**
 * General page layout structure:
 *
 * html
 *   body class="control-ler action"
 *     header
 *       h1
 *     section class="view"
 *       h1
 *     footer
 */

html {
  color: $tan;
  font-family: 'Source Sans Pro';
  font-size: 16px;
}

h2, h3 {
    font-weight: 400;
}

body {
  background: $darkGray;
  line-height: 1.33em;
  margin: 0;
  min-width: 512px;

  a, a:visited {
    color: $lightGray;
    text-decoration: none;
  }

  a:hover, a.selected {
    color: $lightTan;
  }

  a:hover {
    text-decoration: underline;
  }

  > header {
    background: url("ornament-small.png") repeat-x 0 10px;
    background-color: $highlightGray;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    h1 {
      background: $highlightGray;
      display: inline-block;
      font-weight: normal;
      height: 32px;
      margin: 10px 0 24px 27px*2;
      white-space: nowrap;
      width: 27px * 15;
      font-size: 0;
      background-image: url("logo.png");
    }

    .hr {
      margin-top: 0.7em;
    }
  }

  .view:not(.three-panel) {
    padding: 1.4em 2em 4em;
    margin: 0em 7%;
    background: -webkit-gradient(linear, 0% 100%, 0% 0%, from($darkGray), to($highlightGray), color-stop(.4,$highlightGray));
    border-radius: 2px;

    header h1 {
      font-weight: normal;
      margin: 0;
      padding: 0;
    }
  }

  footer {
    background: $darkGray;
    text-align: center;

    p {
      font-size: .8em;
      margin: 1em auto;
      max-width: 800px;
    }

    nav li {
      display: inline-block;
      list-style-type: none;
      margin: 0 1em;
    }

    a.berkman-link {
      background: url('berkman_logo_small.png');
      display: inline-block;
      height: 24px;
      vertical-align: middle;
      width: 48px;
    }
  }
}

.flash {
    text-align: center;
    height: 5.5em;
    margin-top: -5.5em;
}

.flash p {
    padding: 0.8em 2em;
    border-radius: 2px;
    color: #000;
    display: inline-block;
    box-shadow: 0 0 20px $shadowGray;
    position: relative;
}

.flash-dismiss {
    width: 14px;
    height: 14px;
    position: absolute;
    display: block;
    top: 3px;
    right: 3px;
    background: url('small_x.png');
    cursor: pointer;
    &:hover {
        background: url('small_x_hover.png');
    }
}

.notice p {
    background: $noticeGreen;
}

.alert p {
    background: $alertRed;
}

.wait p {
    background: $waitYellow;
}

footer {
  font-size: 0.8em;
  bottom: 0;
  height: 3em;
  left: 0;
  position: fixed;
  right: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

  ul {
      margin-top: 0.6em;
  }
}

textarea, input:not([type]), input[type="color"], input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"] {
    border: 1px solid $gray;
    padding: 3px 5px;
    font-family: 'Source Sans Pro';
}

.formtastic {
    fieldset {
        border: 0;
    }
    ol {
        list-style-type: none;
        margin: 0;
        padding-left: 0;
    }
    li {
        margin: 0.1em;
    }
    label {
        display: inline-block;
        width: 15%;
        margin-right: 2%;
        vertical-align: top;
    }
    textarea {
        width: 50%;
    }
    .inline-hints, .inline-errors {
        margin-left: 16%;
        font-size: 0.8em;
        margin-top: 0;
        padding-left: 0.2em;
    }
    .inline-hints {
    }
    .inline-errors {
        color: $alertRed;
    }
    abbr[title=required] {
        color: $alertRed;
    }
}

section.view > form input {
    margin-bottom: 1em;
}
dt {
    font-weight: bold;
}
dd {
    margin-left: 2em;
}

.toggler {
    cursor: pointer;

    &:before {
        content: "▶ ";
        display: inline-block;
        font-size: .8em;
        width: 1em;
    }
}

.toggler.expanded:before {
    content: "▼ ";
}

.toggleable {
    display: none;
}
