/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$darkGray: #333;
$lightGray: #535353;
$tan: #e7cf98;
$lightTan: #eeddb5;

/* apply a natural box layout model to all elements */
/* http://paulirish.com/2012/box-sizing-border-box-ftw/ */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

html {
  color: $tan;
  font-family: sans-serif;
  font-size: .8em;
}

body {
  background: $darkGray;
  line-height: 1.33em;
  letter-spacing: .1em;
  margin: 0;
  min-width: 512px;

  a, a:visited {
    color: $tan;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  header {
    background: url("ornament-small.png") repeat-x 0 16px;
    margin: 0;
    padding: 0;


    h1 {
      background: $darkGray;
      display: inline-block;
      font-family: Georgia, serif;
      font-weight: normal;
      padding: 24px 27px;
      margin: 0 0 0 27px*2;
      white-space: nowrap;
      width: 27px * 14;
    }
  }

  footer {
    border-top: 2px solid $lightGray;

    p {
      font-family: Georgia, serif;
      font-size: .8em;
      margin: 1em auto;
      max-width: 800px;
    }
  }
}

