@import "colors";

.image-sets.show {
  overflow: hidden;
}

.image-sets.show .view {
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
  top: 8em;
  bottom: 4em;

  .panel-content {
    bottom: 1em;
    overflow: auto;
    position: absolute;
    top: 2.5em;
    width: 100%;
  }

  /**
   * search-panel has search menu & all search-related sections:
   * search, browse, lexicon
   */
  #search-panel {
    bottom: 0;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    vertical-align: top;
    width: 25%;
    
    .panel-content {
      border-radius: 0 .2em .2em 0;
    }

    .search-works h1 {
      display: none;
    }
  }

  #interactive-image-panel {
    bottom: 0;
    left: 26%;
    margin: 0;
    position: absolute;
    top: 0;
    width: 38%;

  }

  /**
   * work-panel has work menu & all work-related sections:
   * transcription, edition switcher, notes, reading list
   */
  #work-panel {
    bottom: 0;
    display: block;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    vertical-align: top;
    width: 35%;

    .panel-content {
      border-radius: .2em 0 0 .2em;
    }

  }

  .set-notes-transitions {
    -moz-transition: bottom 1s;
    -webkit-transition: bottom 1s;
    transition: bottom 1s;
  }

  .set-notes {
    background: $tan;
    border-radius: 2px 0 0 0;
    bottom: 0;
    color: $darkGray;
    height: 12em;
    left: 26%;
    padding: 1em;
    position: absolute;
    right: 0;

    .drawer-handle {
      background-color: $tan;
      border-radius: 2px 2px 0 0;
      box-shadow: 0 0 10px $shadowGray;
      color: $darkGray;
      display: block;
      height: 2em;
      padding: .5em 1em 0 1em;
      position: absolute;
      right: 50%;
      top: -2em;

      &:hover {
        color: $lightGray;
        text-decoration: none;
      }
    }

    &.collapsed {
      bottom: -12em;
    }
  }
}

.image-sets.show footer {
  bottom: 0;
  height: 4em;
  left: 0;
  position: fixed;
  right: 0;
}

/* media break at columns=28em */
