@import "colors";

.image-sets.show {
    overflow: hidden;
    min-width: 864px;
}

.drawer {
    a:hover {
        color: $darkGray;
    }
}

.view.three-panel {
    left: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: 6.3em;
    bottom: 2.4em;
    padding: 0;
    white-space: nowrap;

    .panel {
        bottom: 0;
        top: 0;
        margin: 0;
        height: 100%;
        position: relative;
        vertical-align: top;
        display: inline-block;
    }

    .panel-content {
        bottom: 1em;
        overflow: auto;
        position: absolute;
        top: 2em;
        width: 100%;
    }

    .alphabet-list {
        font-size: 0.8em;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis; /* mostly to keep search from having horizontal scrollbar */
        word-spacing: -1px;
        margin-bottom: 0.3em;
    }
    /**
     * search-panel has search menu & all search-related sections:
     * search, browse, lexicon
     */

  #search-panel {
    width: 25%;
    .search-works-form {
      #q {
        width: 90%;
      }

      span.icon {
        background: url( 'search.png' ) 0 0;
      }

      &:hover {
        span.icon {
          background: url( 'search.png' ) -14px 0;
        }
      }
    }


.search-works-options {
  #current_edition {
    width: 90%;
  }

  a, a:visited {
    color: $darkGray;
    text-decoration: none;
  }

  a:hover {
    color: $lightGray;
    text-decoration: none;
  }
}


  }

    #interactive-image-panel {
        width: 42%;

      &>h1 {
        font-size: .8em;
        position: relative;
        text-align: center;
        top: -0.5em;
      }
    }

    #work-panel {
        width: 33%;
    }

    &.minus-work-panel {
        #interactive-image-panel {
            width: 70%;
        }
        #work-panel {
        }
        #search-panel {
            width: 30%;
        }
    }

    &.minus-search-panel {
        #search-panel {
            left: -25%;
        }
        #interactive-image-panel {
            width: 64%;
            left: -25%;
        }
        #work-panel {
            width: 36%;
            left: -25%;
        }

        &.minus-work-panel {
            #search-panel {
                left: -30%;
            }
            #interactive-image-panel {
                width: 100%;
                left: -30%;
            }
            #work-panel {
                left: -30%;
            }
        }
    }

    #search-panel {

        .panel-content {
            border-radius: 0 .2em .2em 0;
            
            h2 {
                margin-top: 0;
            }
        }

        .search-works h1 {
            display: none;
        }
    }


    /**
     * work-panel has work menu & all work-related sections:
     * transcription, edition switcher, reading list
     */
    #work-panel {
        .panel-content {
            border-radius: .2em 0 0 .2em;
        }
    }

    .bottom-drawer-transitions {
        transition: bottom 0.7s;
    }

    .collapsed .right.drawer-handle {
        left: -2.5em;
    }

    .drawer-handle {
        font-size: 0.8em;
        background-color: $lightTan;
        color: $darkGray;
        display: block;
        position: absolute;
        z-index: 1;

        &.bottom {
            border-radius: 2px 2px 0 0;
            padding: 0.2em 1em 0 1em;
            height: 2em;
            right: 5%;
            top: -2em;
        }

        &.bottom.one {
            right: 7.5em;
        }

        &.bottom.two {
            right: 1.5em;
        }

        &.left {
            border-radius: 0px 2px 2px 0;
            top: 5em;
            right: -2em;
            width: 2em;
            height: 4.8em;
            padding: 1em 0.2em 1em 0;
            span {
              display: block;
                transform: rotate(90deg);
            }
        }

        &.right {
            border-radius: 2px 0px 0px 2px;
            top: 5em;
            left: -2em;
            width: 2em;
            height: 4.8em;
            padding: 1em 0 1em 0;
            span {
              display: block;
                height: 100%;
                padding-top: 0.6em;
                transform: rotate(-90deg);	
            }
        }

        &.hidden {
          border-bottom: solid 2px $darkGray;
          opacity: .7;
        }

        &:hover {
          cursor: pointer;
          opacity: 1;
          text-decoration: underline;
        }
    }

    .bottom.drawer {
        background: $lightTan;
        border-radius: 2px 2px 0 0;
        bottom: 0;
        color: $darkGray;
        height: 5em;
        padding: 0;
        position: absolute;
        width: 94%;
        margin: 0 3% 0;
    }

    #interactive-image-panel.collapsed {
      .missing-image {
        bottom: 3em;
      }

      .bottom.drawer {
        bottom: -5em;
      }
    }


    .image-drawer-content {
      height: 100%;
      overflow: auto;
    }

    .image-drawer-content>div {
      padding: .5em;
      white-space: normal;
    }

    /* easier to test for CSS class in capybara */
    .image-drawer-content>div.hidden {
      display: none;
    }

    #set-notes {
        form {
            height: 90%;
            textarea {
                width: 100%;
                height: 90%;
            }
            .note-save-result {
                padding-left: 0.5em;
            }
        }
        p {
            text-align: center;
        }
    }
}

#image_set_name {
    width: 30em;
}

.view.side-by-side {
    padding-top: 0;

    h2 {
        margin-top: 0;
        padding-top: .5em;
    }

    /* actually contains .sbs-pages now */
    .page-controls {
        padding-top: .6em;
        white-space: nowrap;

        div {
          vertical-align: middle;
        }

    }

    .sbs-pages-container {
      &>div {
        display: inline-block;
      }

      .sbs-pages {
        margin: 0 auto;
      }

      .previous-page-container {
        width: 48px;
      }

      .next-page-container {
        width: 48px;
      }
    }

    .page-links {
        text-align: center;
        white-space: nowrap;

        &>div {
            display: inline-block;
            height: 40px;
            margin: 0;
        }

        .left-image-link {
          margin-left: 64px;
        }

        .page-counter-container {
          vertical-align: middle;
          width: 128px;
        }

        .page-counter {
          display: block;
        }

        .right-image-link {
          margin-right: 64px;
        }

        a {
          background: url( 'manuscript_view_icon.png' ) no-repeat;
          border: solid 2px $darkGray;
          border-radius: 2px;
          display: inline-block;
          height: 36px;
          width: 68px;

          &:hover {
            border: solid 2px $lightTan;
          }
        }
    }
}

i.preview {
    float: left;
    cursor: pointer;
}
