@import "colors";

.__seadragon {
  background: transparent !important;
  border: none !important;
}

.__seadragon>div>div:last-child {
  display: none;
}

.missing-image {
    text-align: center;
}

#page-image {
    position: absolute;
    /* match .view .panel top */
    top: 2em;
    /* .bottom.drawer + .page-controls */
    bottom: 12em + 5em;
    width: 96%;
    margin: 0 2%;
}

.page-controls {
  background: $darkGray;
  height: 4.5em;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: -4.5em;

  a {
    background: url("sbs-icon.png") no-repeat;
    display: inline-block;
    height: 32px;
    margin: 0 10%;
    width: 32px;
  }

  a.change-page {
    border: solid 2px $tan;
    border-radius: 32px;
  }

  a.change-page:hover {
    background-color: $lightGray;
  }

  #sbs-view{
    background-position: -32px 0;
  }

  #next-page {
    background-position: -64px 0;
  }
}

.credits {
  font-size: 0.8em;
  overflow: auto;
}

.bottom.drawer .credits {
    height: 100%;
    margin-top: 0;
}
