@import "colors";

.__seadragon {
  background: transparent !important;
  border: none !important;
}

.__seadragon>div>div:last-child {
  display: none;
}

.missing-image {
    text-align: center;
}

.page-controls {
  margin-top: 1em;
  text-align: center;

  a {
    background: url("sbs-icon.png") no-repeat;
    display: inline-block;
    height: 32px;
    margin: 0 10%;
    width: 32px;
  }

  a.change-page {
    border: solid 2px $tan;
    border-radius: 32px;
  }

  a.change-page:hover {
    background-color: $lightGray;
  }

  #sbs-view{
    background-position: -32px 0;
  }

  #next-page {
    background-position: -64px 0;
  }
}
