$darkGray: #333;
$lightGray: #888;
$tan: #e7cf98;
$lightTan: #eeddb5;
$darkTan: #897144;

.pages.show .view {
  min-width: 960px;

  /**
   * search-panel has search menu & all search-related sections:
   * search, browse, lexicon
   */
  #search-panel {
    display: inline-block;
    margin: 0;
    max-width: 320px;
    vertical-align: top;
    width: 29%;

    .search-works h1 {
      display: none;
    }

    label {
      display: none;
    }
  }

  #interactive-image-panel {
    display: inline-block;
    margin: 0;
    min-width: 320px;
    width: 34%;
  }

  /**
   * work-panel has work menu & all work-related sections:
   * transcription, edition switcher, notes, reading list
   */
  #work-panel {
    display: inline-block;
    margin: 0;
    min-width: 320px;
    vertical-align: top;
    width: 34%;
  }
}
