$darkGray: #333;
$lightGray: #535353;
$tan: #e7cf98;
$lightTan: #eeddb5;

.pages-show {
  #search-container {
    background: red;
    display: inline-block;
    margin: 0;
    max-width: 320px;
    vertical-align: top;
    width: 29%;
  }

  #interactive-image-container {
    display: inline-block;
    margin: 0;
    width: 34%;
  }

  /**
   * work container has work menu & all work-related sections:
   * transcription, edition switcher, notes, reading list
   */
  #work-container {
    background: $lightTan;
    border-radius: .15em;
    color: $darkGray;
    display: inline-block;
    margin: 0;
    vertical-align: top;
    width: 34%;

    .work-transcription {
      font-size: .9em;
      padding: 2em;
    }
  }
}
