$darkGray: #333;
$lightGray: #535353;
$tan: #e7cf98;
$lightTan: #eeddb5;
$darkTan: #897144;

.pages-show {
  min-width: 960px;

  .panel-menu {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      height: 2.2em;
      margin: 0 .5em;
    }

    a, a:visited {
      color: $lightGray;
      font-family: Georgia, serif;
      font-style: italic;
      font-size: 1.2em;
    }

    a:hover, a.selected {
      color: $tan;
    }
  }


  .panel-content {
    background: $lightTan;
    border-radius: .2em;
    box-shadow: 0px 3px 4px 0px $darkTan;
    color: $darkGray;
    padding: .5em;

    section {
      display: none;
    }
  }

  /**
   * search-panel has search menu & all search-related sections:
   * search, browse, lexicon
   */
  #search-panel {
    display: inline-block;
    margin: 0;
    max-width: 320px;
    vertical-align: top;
    width: 29%;

    label {
      display: none;
    }
  }

  #interactive-image-panel {
    display: inline-block;
    margin: 0;
    min-width: 320px;
    width: 34%;
  }

  /**
   * work-panel has work menu & all work-related sections:
   * transcription, edition switcher, notes, reading list
   */
  #work-panel {
    display: inline-block;
    margin: 0;
    min-width: 320px;
    vertical-align: top;
    width: 34%;

  }
}
