// Place all the styles related to the Work controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

.works-search.view {
  background: $lightTan;
  border-radius: .2em;
  color: $darkGray;
  padding: 1em;

}

em {
    font-style: italic;
}

u {
    text-decoration: underline;
}

b {
    font-weight: normal;
    font-variant: small-caps;
}

body.works.edit, body.works.new, body.works.create {
    overflow: hidden;
}

// work-transcription section rendered from shared
.work-transcription {

  font-size: .9em;
  padding: 0.3em 2em 1em;


  .line {
      display: block;
  }


  ins:before {
      content:"(";
      font-weight: bold;
  }

  ins:after {
      content:")";
      font-weight: bold;
  }

  rt {
      font-size: 10px;
  }

  .no-edits ins, .no-edits del, .no-edits rt {
      display: none;
  }

  .linebreak-emily span, .linebreak-emily br.emily {
      display: inline;
  }

  label.edition-select {
      font-weight: bold;
  }
}

.work-body, form.work #work_text {
    font-family: "PT Serif";
    font-size: 12px;
    color: $darkGray;
    padding: 1em 2em 0.3em;
    white-space: nowrap;
    background-color: $lightTan;

    h3, h4 {
        font-weight: 700;
        white-space: normal;
    }

    br {
        display: none;
    }

    .stanza {
        margin-bottom: 1.5em;
        &:last-child {
            margin-bottom: 0;
        }
    }

    .page-break {
        border-width: 1px 0 0 0;
        border-style: dotted;
        display: block !important;
    }
}

.works.new, .works.create, .works.edit {
    .work-body {
        padding: 0;
    }
    #work_text {
        padding: 0.1em;
        width: 90%;
    }
}

#work-table-wrapper {
    display: none;
}
.metadata, .work-appearances {
    display: none;
}
.work-reading-list {
    h3:first-child {
        margin-top: 0.2em;
    }
    .sign-in {
        margin: 2em 0.5em;
        text-align: center;
        white-space: normal;
    }
}
.about-work {
    h4 {
        margin: 0;
        text-align: right;
        font-weight: normal;
        font-style: italic;
    }
    .eda-btn-light {
        display: inline-block;
        font-size: 0.9em;
        margin-top: 0.3em;
    }
    .toggleable {
        padding-left: 1em;
    }
}
.work-tools {
    margin-top: 2em;
}
.work-fields {
    dd, dt {
        display: inline;
    }
    dt.inscription-notes {
        display: block;
    }
    dd {
        margin-left: 0.2em;
    }
    dd:after {
        content: '\A';
        white-space: pre;
    }
    dt:after { 
        content: ": ";
    }
}
a.m {
     text-align: center;
     font-size: 1.4em;
     width: 100%;
     display: inline-block;
}
