// Place all the styles related to the Work controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

.works-search.view {
  background: $lightTan;
  border-radius: .2em;
  color: $darkGray;
  padding: 1em;

}

// work-transcription section rendered from shared
.work-transcription {
  font-size: .9em;
  padding: 2em;

  .line {
      display: block;
  }

  br {
      display: none;
  }

  ins:before {
      content:"(";
      font-weight: bold;
  }

  ins:after {
      content:")";
      font-weight: bold;
  }

  rt {
      font-size: 10px;
  }

  .no-edits ins, .no-edits del, .no-edits rt {
      display: none;
  }

  .linebreak-emily span, .linebreak-emily br.emily {
      display: inline;
  }

}

.work-body, form.work #work_text {
    font-family: "PT Serif";
    font-size: 12px;
    color: $darkGray;
    padding: 0 6% 3em;
    white-space: nowrap;
    background-color: $lightTan;

    .stanza {
        margin-bottom: 1.5em;
    }

    .page-break {
        border-width: 1px 0 0 0;
        border-style: dotted;
        display: block !important;
    }
}
