// Place all the styles related to the Work controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// work-transcription section rendered from shared
.work-transcription {
  font-size: .9em;
  padding: 1.5em;

  .line {
      display: block;
  }

  br {
      display: none;
  }

  ins:before {
      content:"(";
      font-weight: bold;
  }

  ins:after {
      content:")";
      font-weight: bold;
  }

  rt {
      font-size: 10px;
  }

  .no-edits ins, .no-edits del, .no-edits rt {
      display: none;
  }

  .linebreak-emily span, .linebreak-emily br.emily {
      display: inline;
  }



}
