<div class="work-tools">
    <label>
        <input id="no-edits" type="checkbox" name="edits" value="no" />
        <%= t :hide_edits %>
    </label>
    <label>
        <input id="linebreak-emily" type="checkbox" name="linebreak" value="emily" />
        <%= t :emily_line_breaks %>
    </label>
</div>
