<% cache work do %>
<h3><%= work.full_id %></h3>
<% work.stanzas.each do |stanza| %>
    <p class="stanza" data-number="<%= stanza.position %>">
    <% stanza.lines.each do |line| %>
        <span class="line" data-line="<%= line.number %>">
            <%= raw render_line(line) %>
            <% unless line.just_author_break? %>
                <br class="emily author"/>
            <% end %>
        </span>
    <% end %>
    </p>
<% end %>
<% end %>
