<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Emily Dickinson Archive</title>
  <meta name="viewport" content="width=device-width">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
  <h1>Emily Dickinson Archive</h1>
  </header>

<%= yield %>

  <footer>
  <p>&copy; 2013 The Emily Dickinson Archive &middot; President and Fellows of Harvard College &middot; Cambridge, Massachusetts 02138</p>
  </footer>

</body>
</html>
